.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .header__content {
        justify-content: center;
    }
}