.main-title {
    font-size: 1.3em;
    font-weight: 400;
}

.main-title__highlight {
    font-family: var(--font-high-light);
    font-weight: bold;
    font-size: 2rem;
    color: var(--black-main);
}

.main-title__center {
    text-align: center;
}

.main-title--break {
    margin-top: .5em;
    display: block;
}