.main-input {
    font-weight: 400;
    font-size: 1em;
    padding: 2em 1em;
    margin-bottom: 1em;
    width: 100%;
    outline-width: 0;
    cursor: pointer;
    border: none;
    box-shadow: 10px 10px 30px var(--preto-transparente);
}

.main-input--icon-mail {
    padding-left: 75px;
    background-image: url("../../assets/img/icones/mail.svg");
    background-repeat: no-repeat;
    background-position: left 1.75em center;
}